# Site settings
title: Your Name
description: Writer, Developer, Photographer
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site
author: Your Name

# Build settings
markdown: kramdown
permalink: /blog/:year/:month/:day/:title/
paginate: 10

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
