# Site settings
title: Your Name
description: Writer, Developer, Photographer
baseurl: "/Yaga_personal_site" # your repo name
url: "https://Yash-Yashwant.github.io" # your GitHub Pages URL
author: Your Name

# Build settings
markdown: kramdown
permalink: /blog/:year/:month/:day/:title/

# GitHub Pages / Jekyll plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
