# Site settings
title: Yashwant Gandham
description: Developer, Writer, Formula 1 Fan
baseurl: "/Yaga_personal_site" # For GitHub Pages
url: "https://Yash-Yashwant.github.io" # GitHub Pages domain (baseurl will be added automatically)
author: Yaga

# Build settings
markdown: kramdown
permalink: /blog/:year/:month/:day/:title/

# GitHub Pages / Jekyll plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
